
body {
    background-image: url("./gol/bio_background.jpg");
    background-color: white;
  }

.card {
    width: 250px;
    height: 350px;
    perspective: 1000px;

}
.card-inner {
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.card:hover .card-inner {
    transform: rotateY(180deg);
}
.card-front, .card-back {
    position: absolute;
    backface-visibility: hidden;
}
.card-back {
    transform: rotateY(180deg);
    background-color: yellow;
    width: 250px;
    height: 350px;
}

.align-items-start {
    display: flex;

}
.back-color {
    background-color: springgreen;
}

.search-icon {
    display: flex;
    font-size: 80px;
    align-items: center;
    justify-content: center;

}

button {
    background-color:rgb(255, 252, 61);


    border-radius: 10%;
}

.click {
    background-color: orangered;

}

.text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.text-style {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 58px;
}

.container-heading {
    display: flex;
    justify-content: space-between;
}

.back-to-main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;

}

a:hover {

    background-color: blue;
}
.pointer {cursor: pointer;}



.container-for-films {
    display: flex;
    justify-content: center;
    align-items: center;
}