
.container-for-entry {

    display: flex;
    justify-content: space-evenly;
}

.back-to-main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;

}

a:hover {

    background-color: blue;
}
.pointer {cursor: pointer;}


